/* body{
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
}

.info__site{
    display: flex;
    flex-direction: column;
    
    gap: 1.5rem;
}

.text__site{
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
}

.text__site > h1{
    font-size: 2rem;
    font-weight: 600;

    color: var(--gray100);
}

.text__site > h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;

    color: var(--gray100);

    width: 24.4375rem;
}

.text__site > h2 > strong{
    color: var(--brand100);
}

.text__site > p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: var(--gray300);

    width: 20rem;
}

.img__site{
    width: 18.5625rem;
    height: 13.0625rem;

    position: relative;
}

.img__site--cat1{
    width: 5.4375rem;
    height: 5.75rem;

    border-radius: 0.75rem;

    position: absolute;
    top: 0;
    left: 0;
}

.img__site--dog1{
    width: 5.4375rem;
    height: 5.75rem;

    border-radius: 0.75rem;
    
    position: absolute;
    top: 0;
    left: 6.5625rem;
}

.img__site--cat2{
    width: 5.4375rem;
    height: 13.0625rem;

    border-radius: 0.75rem;

    position: absolute;
    top: 0;
    right: 0;
}

.img__site--dog2{
    width: 12rem;
    height: 5.75rem;

    border-radius: 0.75rem;

    position: absolute;
    bottom: 0;
    left: 0;
}

.login__site{
    display: flex;
    flex-direction: column;

    width: 23rem;
    height: 37.5rem;

    border: 1px solid var(--gray600);
    border-radius: 0.25rem;

    padding: 2.75rem 1.5rem;

    gap: 1.625rem;
}

.login__site > h3{
    font-size: 1.25rem;
    font-weight: 500;

    color: var(--gray100);
}

.login__form{
    display: flex;
    flex-direction: column;

    gap: 1.625rem;
}

.email__container{
    display: flex;
    flex-direction: column;

    gap: 0.75rem;
}

.title__email{
    font-size: 1rem;
    font-weight: 500;

    color: var(--gray100);
}
.input__email{
    width: 20.0625rem;
    height: 2.75rem;

    font-size: 1rem;
    font-weight: 400;

    color: var(--gray400);

    padding-left: 1rem;

    border: 1px solid var(--gray600);
    border-radius: 0.25rem;

    background-color: var(--gray800);
}

.input__email:focus{
    border: 1px solid var(--gray100);

    background-color: var(--gray900);

    color: var(--gray100);
}

.title__password{
    font-size: 1rem;
    font-weight: 500;

    color: var(--gray100);
}

.input__password{
    width: 20.0625rem;
    height: 2.75rem;

    font-size: 1rem;
    font-weight: 400;

    color: var(--gray400);

    padding-left: 1rem;

    border: 1px solid var(--gray600);
    border-radius: 0.25rem;

    background-color: var(--gray800);
}

.input__password:focus{
    border: 1px solid var(--gray100);

    background-color: var(--gray900);

    color: var(--gray100);
}


#errorRed{
    color: var(--alert100);
}

#errorRedBox{
    background-color:  var(--alert100);
}

.btn__submit{
    font-size: 1rem;
    font-weight: 500;

    color: var(--gray900);

    width: 20rem;
    height: 2.375rem;

    border-radius: 0.25rem;
    border: 1px solid var(--brand100);

    background-color: var(--brand100);

    cursor: pointer;
}

.btn__submit:hover{
    background-color: var(--brand200);

    border: 1px solid var(--brand200);
}

.login__site > p{
    font-size: 0.875rem;
    font-weight: 500;

    color: var(--gray100);
}

.login__site > span{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;

    color: var(--gray300);

    text-align: center;
}

.signup__btn{
    font-size: 1rem;
    font-weight: 500;

    color: var(--gray100);

    width: 20rem;
    height: 2.375rem;

    border-radius: 0.25rem;
    border: 1px solid var(--gray600);

    background-color: transparent;

    cursor: pointer;
}

.signup__btn:hover{
    background-color: var(--gray800);
} */